---
import { Icon } from 'astro-icon/components';
---

<section class="bg-gray-200 dark:bg-gray-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
    <span class="font-bold">
      <img src="/src/assets/favicons/favicon.ico" class="w-4 h-4 inline-block align-midle mr-1 mb-1" alt="Logo" /> CtrlZ.pe:</span
    > Retroceder un paso para avanzar dos.
  </div>
</section>
